/* APP CSS */

.transaction-list {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-left:10vw;
  font-size: small;
  gap: 1px;
}
.transaction-body {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction:row;
  width: 100vh;
}

.transaction-right {
  display:flex;
  flex-direction: row;
  gap: 5vh;
}


.transaction {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-left:10vw;
  padding-right:10vw;
  gap: 0px;
  border : 1px solid #000;
  border-radius: 5px;
}

.transaction-sub-1 {
  margin-top: 10vh;
}

.transaction-list div {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-left:10vw;
  gap: -10px;
}

.header-top {
    position:relative;
    top: -3vh;
    height: 10vh;
    background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
    
}

.header {
  font: 800 40px Arial;
}

.header a {
  font: 800 40px Arial;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  color: black;
  text-decoration: none;

}
.header a:hover {
  color: #fff;
  transition: 0.5s;
}


.app-body {
  margin-top: 0;
}

.login-page {
  background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: ease-in 0.5s;
  max-width: 300px;
}
.login-container input {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
}

.login-container button {
  /* make the button clear with filled in text */
  background-color: #fff;
  border: 1px solid #0000FF;
  border-radius: 5px;
  height: 30px;
  font-size: 16px;
  color: #0000FF;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0000FF;
  color: #fff;
  transition: 0.5s;
}

#error {
  color: red;
  font-size: 12px;
  text-align: center;
  position: relative;
  top: 10px;
}

.welcome {
  color:#000;
  
}



.transaction-form {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
}

.transaction-form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
  padding: 0 5px;
  font-size: 16px;
}


.transaction-form button {
  /* make the button clear with filled in text */
  background-color: #fff;
  border: 1px solid ;
  border-radius: 5px;
  height: 30px;
  font-size: 16px;
  color: #8784D8;
  cursor: pointer;
}

.transaction-form button:hover {
  background-color: #8784D8;
  color: #fff;
  transition: 0.5s;
}
